body
  .container--auth.centered
    h1 App
    h3 Forgot Password
    p We will send you an email with instructions to reset your password.
    hr
    form.form(action="/forgot-password", method="POST")
      label.lbl Email Address
      span
        a.span.pwd--span(href="/signin") Return to Sign In
      input(type="email", name="email", placeholder="Email Address").ipt
      button(type="submit").btn.btn--primary.btn--form Reset
