// Landing Page Masthead
// ====================

.masthead {
  background: $color-brand-dark;
  padding: 4em 0;
  color: $color-brand-light;
  h1 {
    font-size: 3em;
  }
  h3 {
    margin-bottom: 2em;
  }
}
