// Base Structures
// ====================

.nav {
  float: right;
  padding: 20px;
}

.nav--item {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: $color-brand-light auto 1px;
  }
}

.nav--item__inverse {
  color: $color-brand-light;
}
