// App wide color system
// ====================

$color-brand-light: #FAFAFA;
$color-brand-dark: #2C2B27;

// write input item colors, bro

$color-interest: #D6BAA2;
$color-danger: #CC4238;
$color-warning: #D2CA68;
$color-primary: #A799BC;
