include includes/head

body
  p Forgot Password?
  p We will send you an email with instructions to reset your password.
  form(action="/forgot-password", method="POST")
    label Email Address
    a(href="/signin") Return to Sign In
    input(type="email", name="email", placeholder="Email Address")
    button(type="submit") Reset
